@media(max-width:991px){
    .singup-form{
        width: 100%;
    }
    .singup-area{
        width: 95%;
    }
}
@media(max-width:840px){
    .singup-form form{
        width: 100%;
        grid-template-columns: 1.3fr 1fr;
        grid-gap: 0px 30px;
    }
    .form-details-right{
        width: 100%;
    }
}
@media(max-width:840px){
    .singup-form form{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px 30px;
        margin: auto;
    }
    .singup-area{
        margin-bottom: 20vh;
    }
}
@media(max-width:500px){
    .singup-form form{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px 30px;
        margin: auto;
    }
    .singup-title{
        margin-bottom: 5vh;
    }
    .singup-title-left{
        float: none;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .singup-title-right{
        float: none;
        width: 100%;
        margin-bottom: 10px;
        text-align:center;
    }
    .singup-area{
        width: 100%;
    }
}
@media (max-width:400px){
    .otp-btn button{
        width: 120px;
    }
    .container{
        width: 93%;
        margin: auto;
    }
    .otp{
        display: block;
        position: relative;
        padding-bottom: 50px;
    }
    .otp-btn{
        width: 100%;
        order: 0;
        position: absolute;
        bottom: 0px;
    }
    .otp-btn button{
        width: 100%;
    }
}



/*footer-area*/

@media(max-width:991px){
    .footer-details{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 0px 50px;
    }
    }
    @media(max-width:726px){
        .footer-details{
            grid-template-columns: 1.5fr;
            grid-row-gap: 20px;
        }
    }
    
    @media(max-width:991px){
        .footer-bottom-section{
            grid-template-columns: repeat(2,1fr);
            grid-gap: 0px 50px;
        }
        }
    @media(max-width:756px){
            .footer-bottom-section{
                grid-template-columns:1fr;
     }
     .email{
         order: 1;
         padding: 20px 20px;
         max-width: 500px;
     }
     .we-accept{
         order: 0;
         margin-bottom: 30px;
     }
     .input-email button{
         position: static;
         border-radius: 50px;
         display: block;
         text-align: center;
         width: 100%;
         margin-top: 10px;
     }
     .email-img{
         display: none;
     }
    }