*{
    padding: 0px;
    margin: 0px;
}
body{
    display: block;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    font-style: normal;
    font-family: 'Rubik',sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
a{
    display: inline-block;
    color: black;
    text-decoration: none;
}
span,i{
    display: inline-block;
    color: black;
}
img{
    display: block;
    max-width: 100%;
}
.container{
    display: block;
    width: 90%;
    margin: auto;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
/*start-main-coding*/
.singup-area{
	display: block;
	width: 100%;
	background-color: #fff;
	height: auto;
	width: 85%;
	margin: auto;
	margin-bottom: 30vh;
}
.singup-title{
	display: block;
	margin-top: 6vh;
	margin-bottom: 7vh;
}
.singup-title-left{
	float: left;
	width: 60%;
	display: block;
}
.singup-title-left h2{
	color: #6b6b6b;
	font-weight: 600;
	font-family: 'Rubik',sans-serif;
	display: block;
	font-size: 18px;
	font-style: normal;
	text-transform: capitalize;
	letter-spacing: 0.5px;
}
.singup-title-right{
	float: right;
	width: 40%;
	display: block;
	text-align: right;
}
.singup-title-right h3{
	color: #5b5b5b;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	font-style: normal;
	font-family: 'Rubik',sans-serif;
	display: block;
}
.singup-title-right h3 a{
	color: #06b487;
	font-style: normal;
	font-family: 'Rubik',sans-serif;
	font-size: 16px;
}
/*singup-form*/
.singup-form{
	display: block;
	margin: auto;
	width: 97%;
}
.singup-form form{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
}
.singup-form form label sup{
	color: #707171;
}
.form-details-left{
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;

}

/*phone-numbe-area*/

.phone-num{
	display: block;
	margin-bottom: 30px;
}
.phone-num label{
	display: block;
	font-size: 14px;
	color: #707171;
	font-style: normal;
	font-weight: 400;
	font-family: 'Rubik',sans-serif;
	margin-bottom: 8px;
}
.phone-num input{
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	outline: none;
	border:1px solid #e2e4e5;
	padding: 8px 10px;
	font-family: 'Rubik',sans-serif;
	font-style: normal;
	font-size: 15px;
	color: #707171;
}

/*otp-area*/

.otp{
	display:flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 30px;
	flex-direction: row;
}
.otp-btn{
	margin-right: 10px;
	display: block;
}
.otp-btn button{
	display: block;
	width: 140px;
	background-color: #06b487;
	outline: none;
	border:1px solid #06b487;
	color: #fff;
	font-weight: 400;
	font-family: 'Rubik',sans-serif;
	font-size: 15px;
	padding: 8px 0px;
	box-sizing: border-box;
	text-align: center;
}
.otp-code{
	width: 100%;
}
.otp-code input{
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	outline: none;
	border:1px solid #e2e4e5;
	padding: 8px 10px;
	font-family: 'Rubik',sans-serif;
	font-style: normal;
	font-size: 15px;
	color: #707171;
}
/*pass-area*/
.pass-details{
	display: block;
	margin-bottom: 30px;
}
.pass-details label{
	display: block;
	font-size: 14px;
	color: #707171!important;
	font-style: normal;
	font-weight: 400;
	font-family: 'Rubik',sans-serif;
	margin-bottom: 8px;
}
.pass-details input{
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	outline: none;
	border:1px solid #e2e4e5;
	padding: 8px 10px;
	font-family: 'Rubik',sans-serif;
	font-style: normal;
	font-size: 15px;
	color: #707171;
}
.pass{
	position: relative;
	z-index: 4;
}
.pass span{
	color: #707171;
	font-style: normal;
	font-size: 16px;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 10px;
	box-sizing: border-box;
	background-color: #fff;
	border-top: 1px solid #e2e4e5;
	border-bottom: 1px solid #e2e4e5;
	border-right: 1px solid #e2e4e5;

}
/*birthday-gender*/

.birth-gender{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}
/*birthday-area*/
.birthday{
	display: block;
	margin-right: 10px;
	margin-bottom: 10px;
}
.birthday label{
	display: block;
	font-size: 14px;
	color: #707171!important;
	font-style: normal;
	font-weight: 400;
	font-family: 'Rubik',sans-serif;
	margin-bottom: 8px;

}
.birthday-details{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
}
.birthday-details select{
	color: #707171;
	font-size: 15px;
	outline: none;
	border:1px solid #e2e4e5;
	padding: 7px 8px;
	width: 100px;
	display: block;
	box-sizing: border-box;
	font-style: normal;
	font-family: "Rubik",sans-serif;
	margin-bottom: 10px;
}
.birthday-details select option{
	font-size: 16px;
	color: #707171;
	display: block;
	padding: 90px;
	display: block;
}
/*gender-area*/
.gender{
	max-width: 100%;
	margin-bottom: 20px;
}
.gender label{
	display: block;
	font-size: 14px;
	color: #707171!important;
	font-style: normal;
	font-weight: 400;
	font-family: 'Rubik',sans-serif;
	margin-bottom: 8px;

}
.gender select{
	color: #707171;
	font-size: 15px;
	outline: none;
	border:1px solid #e2e4e5;
	padding: 7px 10px;
	max-width: 120px;
	width: 100%;
	box-sizing: border-box;
	font-style: normal;
	font-family: 'Rubik',sans-serif;
	display: block;
}

.form-details-right{
	width: 70%;
	margin:0px auto;
}
/*fullName-area*/
.name{
	display: block;
	margin-bottom: 30px;
}
.name label{
	display: block;
	font-size: 14px;
	color: #707171;
	font-style: normal;
	font-weight: 400;
	font-family: 'Rubik',sans-serif;
	margin-bottom: 8px;
}
.name input{
	display: block;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	outline: none;
	border:1px solid #e2e4e5;
	padding: 8px 10px;
	font-family: 'Rubik',sans-serif;
	font-style: normal;
	font-size: 15px;
	color: #707171;
}
/*check-box-area*/

.check-box{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin-bottom: 10px;
}
.check{
	margin-right: 8px;
}
#check{
	appearance: none;
	-webkit-appearance: none;
	height: 17px;
	width: 17px;
	background-color:#fff;
	border:1px solid #767f8e;
	margin-top: 1px;
	border-radius: 3px;
	cursor: pointer;

}
#check::after{
	color: #fff;
	font-weight: 900;
	font-family: 'Font Awesome 5 Free';
	content: "\f00c";
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 11px;
	visibility: hidden;
	opacity: 0;

}
#check:focus{
	background-color: #eb3e32;
	color: #fff;
	border-color: #eb3e32;
	appearance: blcok;
}
#check:focus::after{
	visibility: visible;
	opacity: 1;
}
.check-rules label{
	display: block;
	font-size: 14px;
	color: #707171;
	font-style: normal;
	font-weight: 400;
	font-family: 'Rubik',sans-serif;
	margin-bottom: 8px;
	line-height: 19px;
}
.submit-btn {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}
.submit-btn button{
	display: block;
	outline: none;
	border:1px solid #eb3e32;
	color: #fff;
	background-color: #eb3e32;
	text-transform: uppercase;
	font-family: 'Rubik',sans-serif;
	font-style: normal;
	width: 100%;
	text-align: center;
	padding: 10px 8px;
	font-size: 16px;
	border-radius: 5px;
	font-weight: 400;
	letter-spacing: 0.5px;
	box-sizing: border-box;
}
/*privacy*/
.privacy{
	display: block;
	margin-bottom: 25px;
}
.privacy p{
	display: block;
	font-size: 14px;
	color: #707171;
	font-style: normal;
	font-weight: 400;
	font-family: 'Rubik',sans-serif;
	margin-bottom: 8px;
}
.privacy p a{

	font-size: 14px;
	color: #06b487;
	font-style: normal;
	font-weight: 400;
	font-family: 'Rubik',sans-serif;
	margin-bottom: 8px;
	line-height: 16px;
}

/*other-singup*/
.other-singup{
	display: block;
	width: 100%;
	box-sizing: border-box;
}
.other-singup h4{
	display: block;
	font-size: 14px;
	color: #707171;
	font-style: normal;
	font-weight: 400;
	font-family: 'Rubik',sans-serif;
	margin-bottom: 8px;
	line-height: 19px;
}
.other-singup > a{

	display: block;
	outline: none;
	border:1.5px solid #eb3e32;
	color:  #eb3e32;
	background-color:#fff;
	font-family: 'Rubik',sans-serif;
	font-style: normal;
	width: 100%;
	text-align: center;
	padding: 10px 8px;
	box-sizing: border-box;
	font-size: 16px;
	border-radius: 5px;
	font-weight: 500;
	margin-bottom: 20px;
	transition: all 0.3s linear;
}
.other-singup > a:hover{
	color: #fff;
	background-color: #eb3e32;
}

.other-singup ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-align: center;
}
.other-singup ul li{
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 10px;
	
}
.other-singup ul li:last-child{
	margin-right: 0px;
}
.singup-facebook{
	border:1px solid #3b5998;
	padding: 9px 30px;
	box-sizing: border-box;
	color: #3b5998;
	font-style: normal;
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	font-family: 'Rubik',sans-serif;
	background-color: #fff;
	transform: skew(-15deg,0deg);
	transition: all 0.3s linear;
	box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}
.singup-facebook span{
	color: #3b5998;
	font-size: 16px;
	font-weight: 600;
	margin-right: 10px;
	transition: all 0.3s linear;
}
.singup-facebook:hover{
	background-color: #3b5998;
	color: #fff;
}
.singup-facebook:hover span{
	color: #fff;
}

.singup-google{
	border:1px solid #eb3e32;
	padding: 9px 30px;
	box-sizing: border-box;
	color: #eb3e32;
	font-style: normal;
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	font-family: 'Rubik',sans-serif;
	background-color: #fff;
	transform: skew(-15deg,0deg);
	transition: all 0.3s linear;
	box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}
.singup-google span{
	color: #eb3e32;
	font-size: 16px;
	font-weight: 600;
	margin-right: 10px;
	transition: all 0.3s linear;
}
.singup-google:hover{
	background-color: #eb3e32;
	color: #fff;
}
.singup-google:hover span{
	color: #fff;
}



/*input-focus-area */
.singup-form form input:focus{
	border-color: #06b487;
}

/*footer-area*/
.footer-area{
	display: block;
	width: 100%;
	height: auto;
	background-color: #001e3c;
	padding: 80px 5px;
	box-sizing: border-box;
}
.footer-details{
	display: grid;
	grid-template-columns: 3fr 1.8fr 1.8fr 3fr;
	grid-gap: 0px 30px;
	box-sizing: border-box;
}
.footer-address{
	display: block;
	width: 100%;
	height: auto;
}
.footer-logo{
	display: block;
	margin-bottom: 10px;
}
.footer-logo img{
	max-width: 170px;
	width: 100%;
}
.footer-pragraph{
	display: block;
	margin-bottom: 20px;
}
.footer-pragraph p{
	color: #fff;
	font-weight: 300;
	font-style: normal;
	font-family: 'Rubik',sans-serif;
	font-size: 16px;
	line-height: 23px;
}
.address{
	margin-bottom: 20px;
}
.address h2{
	font-size: 17px;
	font-weight: 300;
	font-style: normal;
	color: #fff;
	font-family: 'Rubik',sans-serif;
	line-height: 20px;
	margin-bottom: 5px;
}
.address h3{
	font-style: normal;
	font-size: 17px;
	line-height: 23px;
	color: #fff;
	font-weight: 300;
	font-family: 'Rubik',sans-serif;
	display: block;
}
.footer-email-information{
	display: block;
	margin-bottom: 15px;
}
.footer-email-information h2{
	color:#fff;
	font-weight: 300;
	font-style: normal;
	font-size: 16px;
	font-family: 'Rubik',sans-serif;
	display: block;
	line-height: 20px;
	margin-bottom: 6px;
}
.footer-email-information h2 a{
	display: inline-block;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Rubik',sans-serif;
	transition: all 0.3s linear;
}
.footer-email-information h2 a:hover{
	color: #8db654;
}

.footer-link{
	display: block;
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}
.footer-title{
	display: block;
	margin-bottom: 25px;
}
.footer-title h1{
	color: #8db654;
	font-weight: 600;
	text-transform: uppercase;
	font-family: 'Rubik',sans-serif;
	font-style: normal;
	font-size: 17px;
}
.footer-link ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	display: block;
}
.footer-link ul li{
	display: block;
	margin-bottom: 11px;
}
.footer-link ul li a{
	font-size: 16px;
	font-weight: 300;
	font-family: 'Rubik',sans-serif;
	display: block;
	color: #fff;
	padding: 2px 0px;
	box-sizing: border-box;
	transition: all 0.3s linear;
}
.footer-link ul li a:hover{
	color: #8db654;
}
.footer-download-link{
	margin-bottom: 30px;
}
.play-store-link{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.play-store-link img{
	max-width: 120px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.social-link{
	display: block;
}
.social-link ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.social-link ul li{
	display: inline-block;
	margin: 0px;
	margin-right: 3px;
	margin-bottom: 5px;
}
.social-link ul li a{
	color: #fff;
	background-color: #8db654;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: normal;
	font-size: 19px;
}
.social-link ul li:nth-child(1) a{
	background-color: #3b5998;
}
.social-link ul li:nth-child(2) a{
	background-color: #0e76a8;
}
.social-link ul li:nth-child(3) a{
	background-color: #26a6d1;
}
.social-link ul li:nth-child(4) a{
	background: linear-gradient(45deg,#efa21b 10%,#8b18c4 100%);
}
.social-link ul li:nth-child(5) a{
	background-color: #c8232c;
}
.social-link ul li:nth-child(6) a{
	background-color: #c8232c;
}

/*email*/
.footer-bottom-section{
	display: grid;
	grid-template-columns: 2.5fr 1fr;
}
.email{
	background-color: #4d596e;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 15px 20px;
	box-sizing: border-box;
	border-radius: 10px;
	max-width: 560px;
	width: 100%;
	order: 0;
}
.email-img{
	margin-right: 20px;
}
.email-img img{
	width: 80px;
}
.form{
	display: flex;
	height: 100%;
	align-items: center;
}
.form label{
	color: #fff;
	font-style: normal;
	font-size: 16px;
	font-family: 'Rubik',sans-serif;
	font-weight: 300;
	margin-bottom: 10px;
	display: block;
}
.form input {
	display: block;
	width: 100%;
	border:1px solid transparent;
	background-color: #fff;
	padding: 12px 20px;
	border-radius: 50px;
	box-sizing: border-box;
	font-weight: 500;
	font-size: 18px;
	font-style: normal;
	color: #919191;
	outline: none;
}
.input-email{
	position: relative;
	z-index: 20;
}
.form button{
	background-color: #8db654;
	border:1px solid transparent;
	outline: none;
	color: #fff;
	font-style: normal;
	font-family: 'Rubik',sans-serif;
	padding: 12px 20px;
	border-radius: 0px 50px 50px 0px;
	font-size: 17px;
	text-transform: uppercase;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
}
.we-accept{
	order: 1;
	display: block;
}
.we-accept-img{
	display:flex;
	align-items: center;
	justify-content:flex-start;
	flex-wrap: wrap;
}
.we-accept-img a{
	width: 55px;
	margin-right: 6px;
}
.ntt{
	display: block;
	padding: 15px 10px;
	box-sizing: border-box;
	text-align: center;
	background-color: #05152e;
}
.ntt p{
	color: #767f8e;
	font-weight: 300;
	font-size: 17px;
	font-style: normal;
	font-family: 'Rubik',sans-serif;
	margin: 0px;
	padding: 0px;
}